<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <select class="form-control" name="user[type]" id="type" placeholder="Type" autofocus>
                            <option value="1">Administrator</option>
                            <option value="2">Client</option>
                            <option value="3">Care Provider</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user[name]" placeholder="Name"
                            value="{{user.name}}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user[firstName]" placeholder="First Name"
                            value="{{user.firstName}}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user[lastName]" placeholder="Last Name"
                            value="{{user.lastName}}" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="user[email]" placeholder="Email"
                            value="{{user.email}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="user[password]" placeholder="Password"
                            value="{{user.password}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="user[confirm_password]"
                            placeholder="Confirm Password" value="{{user.confirm_password}}" required>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="user[dob]" placeholder="Date of Birth"
                            value="{{user.dob}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user[ssn]" placeholder="SSN" value="{{user.ssn}}">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="user[sex]" id="sex" placeholder="Type" autofocus>
                            <option value="{{user.sex}}">Sex</option>
                            <option value="F">F - Female</option>
                            <option value="M">M - Male</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>